*schema_browser*
*~
.DS_Store
.idea
config/*.sphinx.conf
config/database.yml
data
db/*.sqlite3
db/schema.rb
db/sphinx*
doc/*
docs/*
features_rcov/*
lib/tasks/quality.rake
log/*
mkmf.log
nbproject
public/stylesheets/compiled/*
test.rb
tmp/**/*
vendor/plugins/newrelic_rpm*
vendor/plugins/schema-browser/*
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/mortgage_calc.iml
.idea/vcs.xml
mortgage_calc-0.1.0.gem
mortgage_calc.gemspec
pkg
